# prototype-kicad-library-ci

# File: .gitmodules
# Description: Git submodules of the prototype-kicad-library-ci repository.

# official libraries
[submodule "official-libraries/kicad-symbols"]
	path = official-libraries/kicad-symbols
	url = ../kicad-symbols
[submodule "official-libraries/kicad-footprints"]
	path = official-libraries/kicad-footprints
	url = ../kicad-footprints
[submodule "official-libraries/kicad-packages3D"]
	path = official-libraries/kicad-packages3D
	url = ../kicad-packages3D

# utilities
[submodule "utilities/kicad-library-utils"]
	path = utilities/kicad-library-utils
	url = ../kicad-library-utils
